body {
  padding-bottom: 2em;
}

.toast {
 width: 90%;
  animation: scalingModal .45s ease 1 forwards;
  -webkit-backface-visibility: hidden;
  margin-left: 5%;
  margin-right: 5%;
}

.toasts {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  max-width: 400px;
  height: 100%;
  background: transparent;
  pointer-events: none;
}

.toasts > div {
  position: absolute;
  bottom: 1rem;
  width: 100%;
}

.toasts a {
  pointer-events: auto;
  color: white;
  font-weight: bold;
}

.toast {
  box-shadow: 0 0 35px rgba(0,0,0,0.1);
  padding: 1.5rem;
  box-sizing: border-box;
  background: dodgerblue;
  color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 15px #333;
}

.toast.error {
  background: #ef6958;
}

.toast p{
  margin: 0 auto;
}

table tr td:last-child {
    white-space: nowrap;
    width: 1px;
}

a:hover {
  cursor: pointer;
}

img.preview {
  max-height: 200px;
}

.navbar p.navbar-btn {
  margin: 0px;
}

span.s:before {
  content: "s";
}
span.s.s1:before {
  content: "";
}

.navbar {
  margin-bottom: 1em;
}

.card > .table {
  margin-bottom: 0px;
}

.custom-file-control {
  color: #777;
}

.custom-file-control.has-file {
  color: #292b2c;
}

.custom-file-control.has-file:lang(en)::after {
  content: "";
}

/*

 Dancing Cat Loading

*/
.loading {
  width: 100%;
  position: relative;
  height: 300px;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
  color: #666;
  padding: 20px 0 0 0;
  text-indent: -90000px;
  overflow: hidden;
}

.loading:before {
  position: absolute;
  width: 200px;
  height: 200px;
  margin-left: -100px;
  margin-top: -100px;
  background: url('/aperture/img/monstercat_logo_cat_small.png') center center no-repeat;
  background-size: contain;
  left: 50%;
  top: 50%;
  content: " ";
  animation-name: dance;
  animation-duration: 0.40s;
  animation-iteration-count: infinite;
  transform-origin: center 80%;
}

/* The animation code */
@keyframes dance {
    0% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(-10deg);
    }
}