
<script type="text/template"
        data-partial="true"
        data-template="no-access">
<h2>No Access</h2>
<p>
  {{^isSignedIn}}
    <a class="btn btn-primary" href="/sign-in">Sign In</a>
  {{/isSignedIn}}
  {{#isSignedIn}}
    <p>
      <a class="btn btn-primary" href="https://www.monstercat.com">Back to monstercat.com</a>
    </p>
  {{/isSignedIn}}
</p>
</script>

<script type="text/template"
        data-template="loading-error"
        data-partial
        >
{{#loading}}
  {{>loading}}
{{/loading}}
{{#error}}
  {{>error}}
{{/error}}
</script>

<script type="text/template"
        data-template="loading"
        data-partial
        >
<div class="loading">
  <span class="loader"></span>
</div>
</script>

<script type="text/template"
        data-template="error"
        data-partial>
<div class="alert alert-danger">
  {{error}}
</div>
</script>

<script type="text/template" data-template="toast">
    <div class="toast{{#error}} error{{/error}}" >
        <p>{{{message}}}</p>
    </div>
</script>

<script type="text/template" 
        data-template="artists-dropdown" 
        data-partial
        >
  <option value="">-select artist-</option>
  {{#options}}<option value="{{value}}">{{label}}</option>
  {{/options}}
</script>


<script type="text/template"
        data-template="pagination"
        data-partial
        >
{{#pagination}}
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {{#links}}
      <li class="page-item{{#disabled}} disabled{{/disabled}}{{#active}} active{{/active}}">
        <a class="page-link"{{^disabled}} href="{{href}}"{{/disabled}}{{#disabled}} tabindex="-1"{{/disabled}}>
          {{label}}
        </a>
      </li>
      {{/links}}
    </ul>
  </nav>
{{/pagination}}
</script>


<script type="text/template"
        data-template="breadcrumbs"
        data-partial
        >
{{#breadcrumbs.length}}
<ol class="breadcrumb">
  {{#breadcrumbs}}
  <li class="breadcrumb-item{{#active}} active{{/active}}">
    <a href="{{href}}">{{label}}</a>
  </li>
  {{/breadcrumbs}}
</ol>
{{/breadcrumbs.length}}
</script>


<script type="text/template"
        data-template="tabs"
        data-partial
        >
{{#tabs.length}}
  <ul class="nav nav-tabs">
    {{#tabs}}
    <li class="nav-item">
      <a class="nav-link{{#active}} active{{/active}}" href="{{href}}">{{label}}</a>
    </li>
    {{/tabs}}
  </ul>
{{/tabs.length}}
</script>